<template name="fittings">
<h1>Welcome to Fourier</h1>
<h2>{{name}}</h2>
<p><span class="label label-primary">Total DPS:</span> {{formatNumber totalDPS}}</p>

<table class="table table-condensed">
<tr>
	<th></th>
	<th>Ship</th>
	<th>EHP</th>
	<th>Tank EHP</th>
	<th>Resi</th>
	<th>Rep</th>
	<th>Count</th>
	<th>Tank</th>
</tr>
{{#each fittingsWithTank fittings}} 
	<tr>
		<td><img src="http://image.eveonline.com/Type/{{shipTypeID}}_64.png"/></td>
		<td>{{shipTypeName}}</td>
		<td>{{formatNumber stats.tank.ehp}}</td>
		<td>{{formatNumber stats.tank.ehpshield}}</td>
		<td>{{formatNumber stats.tank.resishield 2}}</td>
		<td>{{formatNumber stats.outgoing.shield.rr 2}}</td>
		<td>{{count}}</td>
		<td>{{formatNumber tank 2}}</td>
		<td>{{formatNumber ttl 2}}</td>
	</tr>	
{{/each}}
</table>
<hr/>
	{{>addFitting}}
</template>

<template name="addFitting">
<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<div class="panel panel-default addFittingPanel">
			<div class="panel-heading">
				<h3 class="panel-title">Add new Fitting</h3>
			</div>
			<div class="panel-body">
				{{> quickForm id="addFittingForm" schema=AddFittingsSchema type="method" meteormethod="addFitting"}}
			</div>
		</div>
	</div>
</div>
</template>