<template name="tankStats">
	<div class="panel panel-info" style="position:relative;">
	{{#panelHeader}}
		<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
	{{else}}
		{{>fittingCountSelect}}
	{{/panelHeader}}
	{{#with fittingsWithTank}}
		{{>tankStatsTable}}
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-3 col-xs-6">TotalRep: <b>{{formatNumber totalRep}}</b></div>
				<div class="col-md-3 col-xs-6">Minimum EHP: <b>{{formatNumber minEHP.value}}</b><br/>{{minEHP.name}}</div>
				<div class="col-md-3 col-xs-6">Minimum Tank: <b>{{formatNumber minTank.value}}</b><br/>{{minTank.name}}</div>
				<div class="col-md-3 col-xs-6">Minimum TTL: <b>{{formatNumber minTTL.value 2}}</b><br/> {{minTTL.name}}</div>
			</div>
		</div>
	{{/with}}
	</div>
</template>

<template name="tankStatsTable">
<table class="table">
	<tr>
		<th></th>
		<th>Ship</th>
		<th>{{> fourierIcon path="ehp"}} EHP<br/>
		{{> fourierIcon path="shieldehp"}} Tank EHP</th>
		<th>{{> fourierIcon path="shieldresi"}} Resi<br/>
		{{> fourierIcon path="shieldrr"}} Rep</th>
		<th>{{> fourierIcon path="shieldtank"}} Tank<br/>
		{{> fourierIcon path="tanktime"}} Time to kill</th>
		<th>Count</th>
		<th></th>
	</tr>
{{#each fittings}} 
	<tr>
		<td><img src="http://image.eveonline.com/Type/{{shipTypeID}}_64.png"/></td>
		<td><b>{{shipTypeName}}</b><br/>
		{{subtitle}}</td>
		<td>{{formatNumber stats.tank.ehp}}<br/>
		{{formatNumber stats.tank.ehpshield}}</td>
		<td>{{formatNumber stats.tank.resishield 2}}<br/>
		{{formatNumber stats.outgoing.shield.rr 2}}</td>
		<td>{{formatNumber tank 2}}<br/>
		{{formatNumber ttl 2}}</td>
		<td>{{count}}</td>
		<td>
			<button class="btn btn-success btn-xs countUp"><i class="glyphicon glyphicon-plus-sign"></i></button>
			<button class="btn btn-danger btn-xs countDown"><i class="glyphicon glyphicon-minus-sign"></i></button>
		</td>
	</tr>	
{{/each}}
</table>
</template>

<template name="fourierIcon">
	<img class="fourierIcon hidden-sm hidden-xs" src="/img/fourier/{{path}}.png"/>
</template>