<template name="tankStats">
	<div class="panel panel-info" style="position:relative;">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 
			{{>panelHeader}} 
			<span class="glyphicon glyphicon-cog pull-right settings">
				<div class="popover fade left in" role="tooltip" style="left: -268px; top: -39px; display: block;">
					<div class="arrow" style="top: 20%;"></div>
					<h3 class="popover-title">Settings</h3>
					<div class="popover-content">{{>fittingCountSelect}}</div>
				</div>
			</span>
		</div>
		{{#with fittingsWithTank}}
		{{>tankStatsTable}}
		<div class="panel-footer">
		<ul class="list-inline">
			<li>TotalRep: {{formatNumber totalRep}}</li>
			<li>Minimum EHP: {{formatNumber minEHP.value}} {{minEHP.name}}</li>
			<li>Minimum Tank: {{formatNumber minTank.value}} {{minTank.name}}</li>
			<li>Minimum TTL: {{formatNumber minTTL.value 2}} {{minTTL.name}}</li>
		</ul>
		</div>
		{{/with}}
	</div>
</template>

<template name="tankStatsTable">
<table class="table">
	<tr>
		<th></th>
		<th>Ship</th>
		<th><img class="fourierIcon" src="/img/fourier/ehp.png"/>EHP<br/>
		<img class="fourierIcon" src="/img/fourier/shieldehp.png"/>Tank EHP</th>
		<th><img class="fourierIcon" src="/img/fourier/shieldresi.png"/>Resi<br/>
		<img class="fourierIcon" src="/img/fourier/shieldrr.png"/>Rep</th>
		<th><img class="fourierIcon" src="/img/fourier/shieldtank.png"/>Tank<br/><img class="fourierIcon" src="/img/fourier/tanktime.png"/>Time to kill</th>
		<th>Count</th>
		<th></th>
	</tr>
{{#each fittings}} 
	<tr>
		<td><img src="http://image.eveonline.com/Type/{{shipTypeID}}_64.png"/></td>
		<td><b>{{shipTypeName}}</b><br/>
		{{subtitle}}</td>
		<td>{{formatNumber stats.tank.ehp}}<br/>
		{{formatNumber stats.tank.ehpshield}}</td>
		<td>{{formatNumber stats.tank.resishield 2}}<br/>
		{{formatNumber stats.outgoing.shield.rr 2}}</td>
		<td>{{formatNumber tank 2}}<br/>
		{{formatNumber ttl 2}}</td>
		<td>{{count}}</td>
		<td>
			<button class="btn btn-success btn-xs countUp"><i class="glyphicon glyphicon-plus-sign"></i></button>
			<button class="btn btn-danger btn-xs countDown"><i class="glyphicon glyphicon-minus-sign"></i></button>
		</td>
	</tr>	
{{/each}}
</table>
</template>