<template name="application">
	<div class="panel panel-danger">
		{{#panelHeader}}
			<span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 
		{{else}}
			{{>fittingSelect}}
		{{/panelHeader}}
		<div class="panel-body">
			<p>
				<form class="form-inline" id="update">
					<div class="form-group">
						<label for="speed">Speed</label> 
						<input type="text" class="form-control input-sm" id="speed" value="{{data.targetNavigation.speed}}">
					</div>
					<div class="form-group">
						<label for="sig">Sig</label> 
						<input type="text" class="form-control input-sm" id="sig" value="{{data.targetNavigation.sig}}">
					</div>
				  <button type="submit" class="btn btn-sm btn-danger">Update</button>
				  <button class="btn btn-sm btn-default plusEwar" data-target="webs" data-value="0.6">
				  	+ Web
				  </button>
				  <button class="btn btn-sm btn-default minusEwar" data-target="webs">
				  	- Web
				  </button>
				  <button class="btn btn-sm btn-default plusEwar" data-target="tps" data-value="0.375">
				  	+ TP
				  </button>
				  <button class="btn btn-sm btn-default plusEwar" data-target="tps" data-value="0.6857">
				  	+ strong TP
				  </button>
				  <button class="btn btn-sm btn-default minusEwar" data-target="tps">
				  	- TP
				  </button>
				</form>
			</p>
		</div>
		<div id="dmgApplication" style="height: 500px; width:100%"></div>
	</div>
</template>