<template name="application">
	<div class="panel panel-primary">
		<div class="panel-heading">{{title}}</div>
		<div class="panel-body">
			<p><form class="form-inline" id="update">
				<div class="form-group">
					<label for="speed">Speed</label>
					<input type="text" class="form-control" id="speed" value="{{data.targetNavigation.speed}}">
				</div>
				<div class="form-group">
					<label for="sig">Sig</label>
					<input type="text" class="form-control" id="sig" value="{{data.targetNavigation.sig}}">
				</div>
			  <button type="submit" class="btn btn-default">Update</button>
			</form></p>
			<div id="dmgApplication" style="width: 100%; height: 500px"></div>
		</div>
	</div>
</template>