<template name="view">
<h2>{{title}}</h2>
{{#each layout}}
  {{> UI.dynamic template=rowTemplate data=this}}
{{/each}}
{{>addFitting}}
</template>

<template name="fullRow">
{{#with panel this}}
  {{> UI.dynamic template=type data=this}}
{{/with}}
</template>

<template name="splitRow">
<div class="row">
  <div class="col-lg-6">
    {{#with leftPanel this}}
      {{> UI.dynamic template=type data=this}}
    {{/with}}
  </div>
  <div class="col-lg-6">
    {{#with rightPanel this}}
      {{> UI.dynamic template=type data=this}}
    {{/with}}
  </div>
</div>
</template>

<template name="addFitting">
<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="panel panel-default addFittingPanel">
      <div class="panel-heading">
        <h3 class="panel-title">Add new Fitting</h3>
      </div>
      <div class="panel-body">
        {{> quickForm id="addFittingForm" schema=AddFittingsSchema type="method" meteormethod="addFitting"}}
      </div>
    </div>
  </div>
</div>
</template>
