<template name="damageStats">
	{{> UI.dynamic template=type data=this}}
</template>

<template name="damageStatsTurret">
{{#with turret}}
	{{formatNumber dps}} DPS @ {{formatNumberK optimal}}+{{formatNumberK falloff}} with {{formatNumber tracking 3}} ({{signatureResolution}}m)
{{/with}}
</template>

<template name="damageStatsMissile">
{{#with missile}}
	{{formatNumber dps}} DPS @ {{formatNumberK range 1}} ({{formatNumber explosionRadius}}m / {{formatNumber explosionVelocity}} m/s / {{formatNumber drf 1}})
{{/with}}
</template>

<template name="damageStatsDrone">
{{#with drone}}
	{{formatNumber dps}} DPS @ {{formatNumberK range}} ({{formatNumber speed}} m/s)
{{/with}}
</template>

<template name="damageStatsSentry">
{{#with sentry}}
	{{formatNumber dps}} DPS @ {{formatNumberK optimal}}+{{formatNumberK falloff}} with {{formatNumber tracking 3}} ({{signatureResolution}}m)
{{/with}}
</template>
