<template name="doctrine">
<table class="table">
	<tr>
		<th></th>
		<th>Ship</th>
		<th>Name</th>
		<th></th>
	</tr>
	{{#each fittings}}
		<tr>
			<td><img src="http://image.eveonline.com/Render/{{shipTypeID}}_64.png"/></td>
			<td>{{shipTypeName}}</td>
			<td>{{name}}</td>
			<td>
				<a href="/doctrine/editFitting/{{_id}}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
				<button class="btn btn-danger btn-xs delete"><span class="glyphicon glyphicon-trash"></span></button>
			</td>
		</tr>
	{{/each}}
</table>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default addFittingPanel">
      <div class="panel-heading">
        <h3 class="panel-title">Add New Fitting</h3>
      </div>
      <div class="panel-body">
        {{> quickForm id="AddFittingForm" doc=fromDoctrine schema=AddFittingsSchema type="method" meteormethod="addFitting"}}
      </div>
    </div>
  </div>
</div>
</template>

<template name="editFitting">
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<a href="/doctrine/{{doctrine}}" role="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> Back to Doctrine</a><br/><br/>
		{{> quickForm id="EditFittingForm" doc=this schema=UpdateFittingsSchema type="method-update" meteormethod="updateFitting"}}
	</div>
</div>
</template>