<template name="presets">
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<h2>Target Presets</h2>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Speed</th>
				<th>Sig</th>
				<th>MWD</th>
				<th></th>
			</tr>
			{{#each targetPresets}}
				<tr>
					<td><a href="/presets/editTarget/{{_id}}">{{name}}</a></td>
					<td>{{formatNumber speed}}</td>
					<td>{{formatNumber sig}}</td>
					<td>{{mwd}}</td>
					<td>
						<button class="btn btn-warning btn-xs targetPresetDelete">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			{{/each}}
		</table>
	</div>
</div>
<p class="text-center"><a href="/presets/addTarget" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add New Target Preset</a></p>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>Attacker Presets</h2>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Stats</th>
				<th></th>
			</tr>
			{{#each attackerPresets}}
				<tr>
					<td><a href="/presets/editAttacker/{{_id}}">{{name}}</a></td>
					<td>{{>damageStats}}</td>
					<td>
						<button class="btn btn-warning btn-xs attackerPresetDelete">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			{{/each}}
		</table>
	</div>
</div>
<p class="text-center"><a href="/presets/addAttacker" class="btn btn-danger"><span class="glyphicon glyphicon-plus-sign"></span> Add New Attacker Preset</a></p>

</template>

<template name="back">
	<a href="/presets" role="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> Back to Presets</a><br/><br/>
</template>

<template name="CenterForm">
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
	{{>back}}
	{{>Template.contentBlock}}
	</div>
</div>
</template>

<template name="addTargetPreset">
<div class="row">
	<div class="col-md-2 col-md-offset-2">
	{{>back}}
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-md-offset-2">
		<h3>Manual Insert</h3>
		{{> quickForm id="AddTargetPresetForm" collection="TargetPresets" type="insert" }}
	</div>
	<div class="col-md-3 col-md-offset-2">
		<h3>EFT Insert</h3>
		{{> quickForm id="AddTargetPresetEFTForm" schema=TargetPresetsEFTSchema type="method" meteormethod="addTargetPresetEFT"}}
	</div>
</div>
</template>

<template name="addAttackerPreset">
{{#CenterForm}}
	{{> quickForm id="AddAttackerPresetForm" schema=AttackerPresetsEFTSchema type="method" meteormethod="addAttackerPresetEFT"}}
{{/CenterForm}}
</template>

<template name="editTargetPreset">
{{#CenterForm}}
	{{> quickForm id="EditTargetPresetForm" doc=this collection="TargetPresets" type="update"}}
{{/CenterForm}}
</template>

<template name="editAttackerPreset">
{{#CenterForm}}
	{{> quickForm id="EditAttackerPresetForm" doc=this collection="AttackerPresets" type="update"}}
{{/CenterForm}}
</template>